Repository BotsBurgh/BOTSBURGH-FTC-2024-25, pull requests merged in 2024-06, with the labels that each got.

#14 Empty opmodes
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/autonomous/AutoMain.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/readme.md
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/teleOp/TeleOpMain.kt
Labels: A-Teleop, A-Autonomous, C-Feature

#17 Bump Gradle and migrate libraries to version catalog
  build.dependencies.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: C-Code-Quality, A-Build-System, C-Dependencies, S-Needs-Testing

#20 Unit testing with JUnit
  .github/workflows/ci.yml
  TeamCode/build.gradle
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/DemoTest.kt
  build.dependencies.gradle
  gradle/libs.versions.toml
Labels: A-Diagnostics, A-Build-System, C-Dependencies, C-Testing

#13 Create `API` class
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/API.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Dependencies.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Exceptions.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Reset.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/utils/IsNull.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/utils/IsNullTest.kt
Labels: C-Feature, P-High, S-Needs-Testing, A-Core

#21 Create RobotConfig.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/RobotConfig.kt
Labels: A-Utils, C-Feature

#18 Kotlin 2.0.0
  .gitignore
  gradle/libs.versions.toml
Labels: A-Build-System, C-Dependencies, S-Needs-Review

#19 Migrate TriWheels API
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/TriWheels.kt
Labels: A-Teleop, A-Autonomous, C-Feature, S-Notable, S-Waiting-On-Author

#28 Install Road Runner
  build.dependencies.gradle
  gradle/libs.versions.toml
Labels: A-Autonomous, C-Dependencies, S-Needs-Review

#29 Test `API` class
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/core/APITest.kt
Labels: C-Testing, A-Core, S-Needs-Review

#33 Voltage API
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/Voltage.kt
Labels: A-Autonomous, C-Feature, S-Needs-Review

#35 Add a property to detect whether an API is initialized
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/API.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/core/APITest.kt
Labels: C-Feature, A-Core, S-Needs-Review

#32 `Input` API (AKA `GamepadEx`)
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/input/Button.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/input/GamepadEx.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/input/Input.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Reset.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/Utils.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/api/InputTest.kt
Labels: A-Teleop, C-Feature, S-Notable, S-Needs-Review

#37 Bump Appcompat dependency to 1.3.1
  gradle/libs.versions.toml
Labels: A-Build-System, C-Dependencies, S-Needs-Testing, S-Needs-Review
