Repository BotsBurgh/BOTSBURGH-FTC-2024-25, pull requests merged in 2024-12, with the labels that each got.

#81 Logging levels and core refactor
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/RobotConfig.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/StringLogging.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/API.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/CoreRegistrant.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Dependencies.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/Resettable.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/logging/FTCLogger.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/logging/Level.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/logging/Logger.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/logging/Logging.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/core/logging/SimpleLogger.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/Utils.kt
  TeamCode/src/test/kotlin/org/firstinspires/ftc/teamcode/core/ResetTest.kt
Labels: C-Code-Quality, C-Feature, A-Core, S-Needs-Review

#82 Rename the main teleop and autonomous opmodes
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/autonomous/AutoMain.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/teleop/TeleOpMain.kt
Labels: A-Teleop, A-Autonomous, C-Code-Quality

#83 Simple autonomous and Scissor lift code
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/RobotConfig.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/ScissorLift.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/linear/Encoders.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/autonomous/AutoMain.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/teleop/TeleOpMain.kt
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/utils/MotorController.kt
Labels: A-Teleop, A-Autonomous, C-Feature

#84 Warn if multiple voltage sensors
  TeamCode/src/main/java/org/firstinspires/ftc/teamcode/api/Voltage.kt
Labels: A-Diagnostics, C-Code-Quality
